<body>

  <div class="form" >

    <div>
      <img class="image" src="../../../assets/icon/Group 25.png" alt="">
    </div>


    <div class="EnterMobile">
      Signup Now 
    </div>
  
    <div>
      <input class="mobile" type="text" id="myNumber" [(ngModel)]="email" placeholder="Enter your Email Id">
    </div>

    <div>
      <input class="mobile" type="text" id="myNumber" [(ngModel)]="number" placeholder="Enter your Mobile Number">
    </div>

  
    <div>
      <input class="mobile" type="text" id="myNumber" [(ngModel)]="referal" placeholder="Enter Referral Code">
    </div>

    <div>
      <button class="paragraph" (click)="navigate()"> Register </button>
    </div>
          
  </div>

  </body>