
  <body>

    <div class="form" >
      <div class="EnterMobile">
        ENTER OTP
      </div>
    
      <div>
        <input class="mobile" type="number" [(ngModel)]="otp1" id="myNumber" placeholder="Enter Six Digit OTP">
      </div>

      <div class="Resend">
        <p class="paragraph" (click)="generateOtp(email)">Resend</p>
      </div>

      <div>
        <button class="paragraphhh" (click)="navigate()">CONTINUE</button>
      </div>
            
    </div>

    
  
    </body>



  

